:root,
[data-md-color-scheme="default"] {
  /* --md-heading-font: "Oswald"; */
  --md-primary-fg-color: #035451;
  --md-default-fg-color: #443f3f;
  --boxShadowD: 0px 12px 24px 0px rgba(68, 63, 63, 0.08),
  /* xarray display settings */
  --xr-background-color: #ffffff;
  --xr-font-color: #24292e;
  --xr-border-color: #e1e4e8;
  --xr-background-color-row-even: #f6f8fa;
  --xr-background-color-row-odd: #ffffff;
    0px 0px 4px 0px rgba(68, 63, 63, 0.08);
}
[data-md-color-scheme="slate"] {
  /* xarray display settings */
  --xr-background-color: #1e1e1e;
  --xr-font-color: #d4d4d4;
  --xr-font-color0: #ffffff;
  --xr-font-color1: #d4d4d4;
  --xr-font-color2: #a0a0a0;
  --xr-font-color3: #a0a0a0;
  --xr-border-color: #404040;
  --xr-background-color-row-even: #252525;
  --xr-background-color-row-odd: #1e1e1e;
}
body {
  margin: 0;
  padding: 0;
  /* font-size: 16px; */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--md-heading-font);
  font-weight: bold;
}
.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4 {
  font-weight: normal;
  color: var(--md-default-fg-color);
}
.md-button,
.md-typeset .md-button {
  font-family: var(--md-heading-font);
}
.md-content .supheading {
  font-family: var(--md-heading-font);
  text-transform: uppercase;
  color: var(--md-primary-fg-color);
  font-size: 0.75rem;
  font-weight: bold;
}

/* Fix xarray dataset HTML representation in jupyter notebook renderings. */
/* See https://github.com/danielfrg/mkdocs-jupyter/issues/164 for conversation */

/* Reinstate the display off-switch for xarray dataset views. */
/* See https://github.com/damianavila/RISE/issues/594 for inspiration. */
.md-typeset pre.xr-text-repr-fallback {
  display: none;
}

.md-typeset ul.xr-sections,
.jupyter-wrapper .jp-OutputArea-output dl.xr-attrs {
  display: grid;
}

.md-typeset li.xr-var-item,
.md-typeset ul.xr-var-list {
  display: contents;
}

.md-typeset .xr-section-details {
  display: none;
}

.md-typeset ul.xr-dim-list li {
  margin-bottom: 0;
  margin-left: 0;
}

.md-typeset ul.xr-dim-list {
  margin-bottom: 0;
  margin-top: 0;
}

.jupyter-wrapper .jp-OutputArea-output .xr-attrs dt {
  padding: 0;
  margin: 0;
  float: left;
  padding-right: 10px;
  width: auto;
  font-weight: normal;
  grid-column: 1;
}

.jupyter-wrapper .jp-OutputArea-output .xr-attrs dd {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 10px;
}

.jupyter-wrapper .jp-OutputArea-output .xr-attrs dd:hover {
  overflow: auto;
  width: auto;
  z-index: 1;
}

/* Plotly figure containers */
.jupyter-wrapper .plotly-graph-div {
  margin: 2rem auto;
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

[data-md-color-scheme="slate"] .jupyter-wrapper .plotly-graph-div {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

/* Tables from itables */
.dataTables_wrapper {
  margin: 2rem auto;
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--md-code-bg-color);
}

/* Fix dropdown options in dark mode */
[data-md-color-scheme="slate"] select.dt-input option {
  color: var(--md-default-fg-color) !important;
  background-color: var(--md-default-bg-color) !important;
}


[data-md-color-scheme="slate"] .dataTables_info,
[data-md-color-scheme="slate"] .dataTables_length,
[data-md-color-scheme="slate"] .dataTables_filter label {
  color: var(--md-default-fg-color);
}

[data-md-color-scheme="slate"] .jupyter-wrapper table.dataframe {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

/* Figure captions */
.figure-caption {
  text-align: center;
  font-style: italic;
  color: var(--md-default-fg-color--light);
  margin-top: -1rem;
  margin-bottom: 2rem;
  font-size: 0.9rem;
}

/* Hide navigation panel for single-page site */
.md-sidebar--primary {
  display: none;
}

/* Increase content width without left sidebar and center it */
.md-grid {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* .md-main__inner { */
/*   margin-left: auto; */
/*   margin-right: auto; */
/*   max-width: 90rem; */
/* } */
/**/
/* /* Make the content container wider and centered */ */
/* .md-content { */
/*   max-width: 90rem; */
/*   margin-left: auto; */
/*   margin-right: auto; */
/* } */
/**/
/* .md-content__inner { */
/*   padding-left: 2rem; */
/*   padding-right: 2rem; */
/* } */
/**/
/* /* Center the article/main content */ */
/* .md-typeset { */
/*   max-width: 90rem; */
/*   margin-left: auto; */
/*   margin-right: auto; */
/* } */
